@mixin flex($direction: row, $justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin link {
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 48px;
  padding: 1rem;
}
